/* styles.css */
@font-face {
  font-family: "STXihei";
  src: url("/fonts/stxihei.woff") format("woff");
  font-style: normal;
  /* Add other font properties as needed, like font-weight and font-style */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "STXihei", "Courier New", sans-serif; /* Use the custom font */

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --desktop-body-text: 18px;
  --desktop-heading-text: 32px;
  --desktop-subheading-text: 24px;
  --desktop-input-field: 18px;

  --english-text-font: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  --card-border-radius: 40px;
  --card-background-color: #a0d2d7;
  --card-padding: 20px;
  --card-title-color: #175973;
}
