/* index page layout */
.homePageComponent {
  min-height: 100vh;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homePageComponent > * {
  width: max(70vw, 750px);
  max-width: 1000px;

}

.content {

  box-shadow: 0 20px 50px 0 #174bbb38;
  margin: 0 auto 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 350px;
  padding: 20px;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.qrText {
  font-size: 1.3rem;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.divider .or {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.516);
}

.divider .line {
  width: 1px;
  border-radius: 10px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.34);
}

/* titleLogo components styles */

.titleContainer {
  display: flex;
  justify-content: center;
}

/*********************************/

/* mainLogin components styles */

.inputForm {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputForm input {
  border-radius: 5px;
  width: 100%;
  height: 56px;
  padding: 7px;
  padding-top: 20px;
  font-size: 1.1em;
  border: 1px solid #cfd9de;
  outline: none;
  transition: 0.2s ease;
}

.inputForm div {
  position: relative;
}
.inputForm div span {
  pointer-events: none;
  color: #657580;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  transition: 0.2s ease;
}
.inputForm input:focus {
  border: 1px solid #154cbb;
}

.inputForm input:focus + span,
.inputForm input.submitted span {
  color: #154cbb;
}

.inputForm input:not(:placeholder-shown) + span,
.inputForm input:focus + span {
  top: 10px;
  left: 7px;
  font-size: 0.8rem;
}

.inputForm.submitted span {
  color: #657580;
}

.inputForm button {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  height: 53px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #154cbb;
  transition: background-color 0.2s ease;
}

/*********************************/
.userDataComponent {
  min-height: 100vh;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.userDataComponent .title {
  text-align: center;
  font-size: 3rem;

  font-weight: 900;
}

.userDataComponent > * {
  width: max(70vw, 750px);
  max-width: 1000px;
}

.userDataComponent form {
  width: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 30px;
}

.userDataComponent form input {
  width: 250px;
}

/* styles.css or your preferred CSS file */
.page {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.page-exit-active {
  opacity: 0;
}
